{
  "plugins": ["mdx"],
  "rules": {
    "mdx/no-unused-expressions": "off",
    "mdx/remark": [
      "error",
      {
        "remarkLintOptions": {
          "externalLinks": false,
          "frontmatter": false
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.mdx"],
      "extends": ["plugin:mdx/overrides"]
    }
  ]
}
