@import 'tailwindcss';

@theme {
  --color-original: oklch(100% 0 0);
  --color-background: oklch(98% 0 106.42);
  --color-strongest: oklch(33.5% 0 0);
  --color-strong: oklch(40.1% 0 0);
  --color-subtle: oklch(53.2% 0 0);
  --color-subjects: oklch(59.8% 0.12 264);
  --color-secondary: oklch(59.1% 0.08 294);
  --color-headings: oklch(42.2% 0.09 282);
  --color-shift: oklch(46.8% 0.19 354);
  --color-darkness: oklch(34.2% 0.15 264);
}
